.titleContainer {
  background: transparent linear-gradient(to right, #AE276F, #5F1478);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
}

.titleContainer h1 {
  padding: 20px;
  color: white;
}

.inputContainer {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 261px;
  background-image: url("../../assets/fundo-busca.png");
}

.inputContainer div {
  left: 168px;
  width: 950px;
  margin: 0 auto;
}

.inputContainer input {
  margin-top: 147px;
  left: 168px;
  width: 830px;
  height: 75px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
}


.inputContainer button {
  width: 50px;
  height: 75px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background: white;
}

button img {
  width: 15px;
}